
*{
    padding:0;
    margin:0;
}

button{
    border-width:0;
    background-color:transparent;
}

a{
    text-decoration:none;
    color:inherit;
}

html, body{
    width:100%;
    height:100%;
}

#root{
    width:100%;
    min-height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.home{
    width:700px;
}



